<p>home works!</p>

    <!-- pegar da classe - Atributo dinâmico, o aria-label é do angular e não tem no JS, e vc pode criar um seu e colocar no lugar -->
<!-- <button [attr.aria-label]="idButton" >B</button> -->

    <!-- pegar da classe - para atributos padrões/nativos do html tmb funciona, com [] e {{}} -->
<!-- <button [id]="idButton" >B</button> -->

    <!-- Para chamar um método da classe, tem colocar o () e não é onClick -->
    <!-- para pegar os valores do botão que foi clicado, coloca -> $event, se fosse um envio de formulario iria passar as respostas do formulario -->
<button  (click)="submit( $event )"  >Clique</button>
        <!-- funciona os outros do html(tem que pesquisar como é no angular) -> mouseover ... -->


<!-- if - condicional -->

    <!-- versões antigas -->
<h2 *ngIf="deveMostrarTitulo; else blocoAlternativo">Está true</h2>
<ng-template #blocoAlternativo>
    <h2>Está false</h2>
</ng-template>

    <!-- Versão nova -->
@if( deveMostrarTitulo ) {
    <h2>Está true</h2>
} @else if ( name != "Urso" ) {
    <h2>Não é o urso</h2>
} @else {
    <h2>Está false</h2>
}


<!-- Loop -->

<!-- Versão antiga -->
<p *ngFor=" let item of listItems " > {{item}} </p>

<!-- versão nova -->
    <!-- track  -> ajuda o angular a renderizar a lista, está falando para ele identificar cada item por ele mesmo -->
     <!-- se fosse um objeto sendo passado podia identificar pelo id  ->  track item.id -->
@for( item of listItems; track item ) {
    <p>{{item}}</p>
}


<!-- <h3> {{propsDeFora}} </h3> -->
